* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main_container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 15px;
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  width: 600%;
  transition: transform 0.5s;
}

.carousel-item {
  flex: 1;
  text-align: center;
}

.carousel-item div {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

.photo_container {
  margin-top: 15px;
  width: 50%;
}

.info_container {
  display: flex;
  flex-direction: row;
}

.carousel_container {
  width: 50%;
}

.person_container {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.carousel_h2 {
  width: 50%;
  display: flex;
  align-items: center;
}

@media (max-width: 900px) {
  .info_container {
    flex-direction: column;
  }

  .carousel_container {
    width: 100%;
  }

  .carousel_h2 {
    width: 100%;
  }

  .photo_container {
    width: 100%;
  }
  .person_container {
    flex-direction: column;
  }
}