* {
  box-sizing: border-box;
}

:root {
  --main_color: #fa5941;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main_container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 15px;
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 0 20px;
}

.carousel-inner {
  display: flex;
  width: 200%;
  height: 500px;
  /* transition: transform 0.5s; */
}

.carousel-item {
  flex: 1;
  text-align: center;
  padding: 0 10px;
}

.carousel-item div {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

.photo_container {
  margin-top: 15px;
  width: 60%;
}

.info_container {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}

.carousel_container {
  width: 100%;
  position: relative;
  padding-bottom: 20px;
}

.carousel-marker {
  cursor: pointer;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  float: left;
  border: 2px solid var(--main_color);
  margin: 0 4px;
  transition: all .3s;
}

.carousel-marker.active {
  transform: scale(1.4);
  background-color: var(--main_color);
}

.carousel-marker_container {
  position: absolute;
  left: 45%;
}

.carousel_btn {
  position: absolute;
  top: 0%;
  height: 100%;
  width: 20px;
}

.carousel_btn.left {
  left: 0;
}

.carousel_btn.right {
  right: 0;
}

.person_container {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.carousel_h2 {
  width: 50%;
  display: flex;
  align-items: center;
}

.calc_button {
  width: 50%;
  height: 40px;
  margin: 20px auto;
  cursor: pointer;
}

.slider-container {
  padding-top: 20px;
}

.slider-container label {
  font-weight: bold;
}

.range-body {
  position: relative;
  width: 80vw;
  height: 40px;
  user-select: none;
  cursor: pointer;
  margin-top: 30px;
}
.range-body::after {
  content: '';
  background-color: black;
  width: 101%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: -1;
}

.range-outer {
  height: 4px;
  background-color: #cb4b37;
  position: absolute;
  top: 46%;
}

.range-selector {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fa5941;
  border-radius: 50%;
  transform-origin: center center;
  cursor: pointer;
  left: 0%;
  top: 25%;
  transform: translateX(-50%);
  cursor: move;
}

.range-selector .tooltip {
  width: 50px;
  height: 30px;
  position: absolute;
  left: -80%;
  bottom: 150%;
  border-radius: 10px;
  opacity: 0%;
  transition: all .3s;
  text-align: center;
  box-shadow: 1px 5px 10px gray;
}

.slider-line {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.slider-line span {
  position: absolute;
  top: 25px;
  /* font-size: 10px; */
  left: 50%;
}

.slider-line span::before {
  content: '';
  width: 1px;
  height: 10px;
  position: absolute;
  background-color: black;
  left: 50%;
  bottom: 20px;
  z-index: -1;
}

.result_card {
  background-color: #fa5941;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  height: 50px;
}

@media (max-width: 900px) {
  .info_container {
    flex-direction: column;
  }

  .carousel-inner {
    width: 400%;
  }

  .carousel_h2 {
    width: 100%;
  }

  .photo_container {
    width: 80%;
  }

  .person_container {
    flex-direction: column;
  }
}